# Get all US county information
All of my data is linked by the FIPS identifying code for each county.
We will be using the FIPS data for plotting and id of county bounds and as a defacto index across all datasets.

We will also be using the county name for additional identification and the census tract area for each county. The census area is the surveyed area for census purposes (where people live) within the bounds of the county.

In [7]:
# Get the county fips codes

import os
from myfunctions import *

# Had difficulty with original format, needed to convert to geojson to use in the plotly map

# opens the json file containing county bounds
# also prints the .head() for the dataframe
us_county = load_county('datasets/county_boundaries.json')

  STATE COUNTY      NAME  CENSUSAREA   fips
0    01    001   Autauga     594.436  01001
1    01    009    Blount     644.776  01009
2    01    017  Chambers     596.531  01017
3    01    021   Chilton     692.854  01021
4    01    033   Colbert     592.619  01033

## 2018 Midterm Election Data

The election data is taken from https://electionlab.mit.edu/data.
The data has results for every election, both state and national.  It includes the vote total for each candidate and the candidate's party.

We will use the fips code for each county to act as an index for the more than 3000 counties contained in the dataset.  Fips codes have a two digit state id followed by a three digit county id code within the state.  States are listed in alphabetical order.  The dataset also contains information on territories (Guam, NMI, PR, etc.) but that will be filtered out to focus on the contiguous United States and Hawaii.  The burroughs of Alaska are unfortunately not part of this dataset, although after looking at the frequency of stores in Alaska, it might  not be useful to add to the model as many of these stores are not present or sparse in our 49th state.  District of Columbia is unfortunately not included.  Adding the Alaskan burroughs and DC would be a recommendation for further study.

In [8]:
# read in election results from csv
df = pd.read_csv('datasets/county_2018.csv', encoding='latin') 


# Eliminates territories (past Wyoming last alphabetically)
df = df[df['state_fips'].apply(int) < 57]
df['state_fips'].unique()

array([ 1,  4,  5,  6,  8,  9, 10, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22,
       23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
       40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56])

### Filter the election data 
I chose to go with only the US House races.  
Senators tend to have long term support statewide (in some states) and might influence the model.

Further investigation: you could look at all races cumulative to determine red or blue counties.
Many local elections are decided cross party, unlike congressional elections.

In [9]:
# remove all lines that are not republican or democrat
df.party.unique() # two party data only, there are lots of them 
df = df[(df['party']=='republican') | (df['party']=='democrat')]  # df2 is two party only
df.party.value_counts()

republican    57216
democrat      53276
Name: party, dtype: int64

In [10]:
# I would like to see if model perfoms better on national vs. local elections, so I can try both here.  
# Might show the partisan lean better than state and local
# Three imported lists exist (all_offices, major_offices, house and congress), see myfunctions module


# # Put in the data you wish to include in the model.  You could use congress, major, or all (I chose house)
df2 = df[df['office'].isin(all_offices)]  # all_offices is a list from import

df_iowa = df[df['state_fips'] == 19]

# This is a little fix for Iowa which is missing one congressional race if you want to look at house.
# Data won't be perfect, but close
df2 = pd.concat([df2, df_iowa])


# eliminate unnecessary columns
df2 = df2[['state', 'county', 'state_fips', 'party', 'candidatevotes', 'totalvotes', 'office']]

df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113842 entries, 6 to 66353
Data columns (total 7 columns):
state             113842 non-null object
county            113832 non-null object
state_fips        113842 non-null int64
party             113842 non-null object
candidatevotes    113408 non-null float64
totalvotes        111439 non-null float64
office            113842 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 6.9+ MB

In [11]:
# We decided to just count up all of the votes for each party in every election.
# If we chose to include local elections or major elections, this would
# weight congressional elections the same as local, but is aimed at getting a sense of how much
# the county leans red or blue without individual politicians affecting the categorization
df2_grouped = df2.groupby(by=['state_fips', 'county', 'party']).sum().reset_index()

# This drops out territories by chopping off everything after Wyoming
df2_grouped = df2_grouped[df2_grouped['state_fips'].apply(int) < 57]
df2_grouped.head()

# we are left with vote totals for GOP and Dem for each county

   state_fips   county       party  candidatevotes  totalvotes
0           1  Autauga    democrat         57851.0  46566183.0
1           1  Autauga  republican        225013.0  72148413.0
2           1  Baldwin    democrat        194967.0  46566183.0
3           1  Baldwin  republican        886133.0  72148413.0
4           1  Barbour    democrat         55710.0  46566183.0

### Cleaning up the county data
County naming is not standardized. There were lots of exceptions in the more than 3000 counties that had to be addressed. The data in the us_county dataset was not named the same as election data. Each .replace was a manual change to get the two datasets to conform. The election data did not have FIPS data initially included. That is unfortunate.

In [12]:
# Make a new col named fips which is initially filled with zeroes
df2_grouped_fips = df2_grouped.copy()
df2_grouped_fips['fips'] = pd.Series([0 for x in range(len(df2_grouped_fips.index))])  


# The code below ensures that county names match exactly so we can populate the fips column
# this will make fips a key used for election, county, and population datasets
us_county['NAME'] = us_county['NAME'].apply(lambda x: x.upper())
us_county['NAME'] = us_county['NAME'].apply(lambda x: x.replace('.', '')
                                                              .replace("''", '')
                                                              .replace("DE WITT", 'DEWITT')
                                                              .replace('LA SALLE', 'LASALLE')
                                                              .replace("DE KALB", 'DEKALB')
                                                              .replace(" CITY", '')
                                                              .strip())




df2_grouped_fips['county'] = df2_grouped_fips['county'].apply(lambda x: x.upper())
df2_grouped_fips['county'] = df2_grouped_fips['county'].apply(lambda x: x.replace('COUNTY', '')
                                                                          .replace('.', '')
                                                                          .replace(' CITY', '')
                                                                          .replace('MEEER', 'MEEKER')
                                                                          .replace('JODAVIESS', 'JO DAVIESS')
                                                                          .replace('&', 'AND')
                                                                          .replace('DE WITT', 'DEWITT')
                                                                          .replace('DE KALB', 'DEKALB')
                                                                          .replace('LAC QUI PARTE', 'LAC QUI PARLE')
                                                                          .replace('OGLALA LAKOTA', 'OGLALA')
                                                                          .replace('CHENAGO', 'CHENANGO')
                                                                          .replace('LA SALLE', 'LASALLE')
                                                                          .replace('DONA ANA', 'DOÑA ANA')
                                                                          .strip())

# These are county names we dropped
# They inclued UOCAVA (overseas votes), Oglala Lakota and some other NON-COUNTY data
df2_grouped_fips = df2_grouped_fips.loc[~df2_grouped_fips['county'].isin(['STATE TOTALS', 
                                                                            'STATE UOCAVA', 
                                                                            'TOTAL VOTES BY CANDIDATE',
                                                                            'TOTAL VOTES BY PARTY',
                                                                            'KANSAS',
                                                                            'OGLALA',
                                                                            'FEDERAL PRECINCT',
                                                                          
                                                                        ])]

# Force numperic values 
us_county.info()
df2_grouped_fips.info()
us_county["STATE"] = pd.to_numeric(us_county["STATE"])
us_county["fips"] = pd.to_numeric(us_county["fips"])

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 3143 entries, 0 to 3220
Data columns (total 8 columns):
GEO_ID        3143 non-null object
STATE         3143 non-null object
COUNTY        3143 non-null object
NAME          3143 non-null object
LSAD          3143 non-null object
CENSUSAREA    3143 non-null float64
geometry      3143 non-null geometry
fips          3143 non-null object
dtypes: float64(1), geometry(1), object(6)
memory usage: 221.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6084 entries, 0 to 6097
Data columns (total 6 columns):
state_fips        6084 non-null int64
county            6084 non-null object
party             6084 non-null object
candidatevotes    6084 non-null float64
totalvotes        6084 non-null float64
fips              6084 non-null int64
dtypes: float64(2), int64(2), object(2)
memory usage: 332.7+ KB

In [13]:
# I used this loop to go back and correct the county names between the two datasets
errors = 0  # track the dumped counties

for i in range(len(df2_grouped_fips)):
    state = int(df2_grouped_fips.iloc[i, :]['state_fips'])  # get state number (1 to 57 numeric)
    county = df2_grouped_fips.iloc[i, :]['county'].strip() # get county name
    #print(us_county_df.loc[us_county_df['NAME'] == county].iloc[-1][-1])
    try:
        # try to associate add the approprate fips for each county
        fip = us_county.loc[(us_county['NAME']==county) & (us_county['STATE']==state)].iloc[-1][-1]
        df2_grouped_fips.iloc[i, -1] = fip  # BE CAREFUL HERE
    except:
        # if it didn't work, print it out for troubleshooting
        print(county, state, i)
        errors +=1
        

print(errors)

0

In [14]:
df_final = df2_grouped_fips.copy().reset_index()  # failed at index 414, index was missing for agg(idxmax) (Fixed)


# get only highest (DEM or GOP)
# This eliminates the 'loser' of each county (this is aggregate votes, not individual elections)
df_final = df_final.iloc[df_final.groupby('fips')['candidatevotes'].agg(pd.Series.idxmax)]
#df2_final = df2_final.iloc[df2_final.groupby('fips')['candidatevotes'].idxmax().values.ravel()]

df_final.describe()


# FINAL TALLY
# US HAS 3141 total counties.

# Missing counties
# DC has no counties.  Not sure how to handle that
# MISSING OGLALA LAKOTA county (Native American lands)
# MISSING the 19 ALASKA buroughs data 
# MAY BE MISSING MORE COUNTY EQUIVALENTS

# Data is missing for Iowa US Congressional race, must use all offices instead.  bummer

             index   state_fips  candidatevotes    totalvotes          fips
count  3103.000000  3103.000000    3.103000e+03  3.103000e+03   3103.000000
mean   3046.595875    30.526909    1.957664e+05  3.406561e+07  30629.780213
std    1743.980577    14.961734    7.528906e+05  4.859144e+07  14980.794146
min       1.000000     1.000000    6.940000e+02  2.278880e+05   1001.000000
25%    1553.500000    19.000000    1.609750e+04  4.364364e+06  19036.000000
50%    3030.000000    29.000000    4.344100e+04  1.055255e+07  29205.000000
75%    4535.500000    45.000000    1.151185e+05  3.681491e+07  45090.000000
max    6097.000000    56.000000    2.531163e+07  2.636051e+08  56045.000000

In [15]:
df2_final = df_final.copy()



# MAKE MY FIPS COMPATIBLE WITH THE GEODATA
df2_final['fips'] = df2_final['fips'].apply(lambda x: "{:05}".format(x))

df2_final['blue'] = df2_final['party'].apply(lambda x: 0 if (x=='republican') else 1)

In [16]:
df2_final.head()

,index,state_fips,county,party,candidatevotes,totalvotes,fips,blue
1,1,1,AUTAUGA,republican,225013.0,72148413.0,01001,0
3,3,1,BALDWIN,republican,886133.0,72148413.0,01003,0
5,5,1,BARBOUR,republican,66244.0,72148413.0,01005,0
7,7,1,BIBB,republican,88177.0,72148413.0,01007,0
9,9,1,BLOUNT,republican,257928.0,72148413.0,01009,0

All datasets are stored in the /datasets folder which contains:
- academy.csv			
- county_boundaries_new.json	
- grainger.csv			
- rei.csv				
- walmart.pkl
- basspro.csv			
- county_fips_master.csv		
- harley.csv			
- starbucks.csv			
- wholefoods.csv
- chickfila.csv			
- crackerbarrel.pkl		
- hm.pkl				
- store_df.pkl
- counties_fixed.geojson		
- dicks.csv			
- hobbylobby.pkl			
- target.csv
- county_2018.csv			
- district_geojson.pkl		
- llbean.csv			
- tractorsupply.csv
- county_boundaries.json		
- dollartree.csv			
- potterybarn.csv			
- traderjoes.csv

In [17]:


# Add in a chain stores
# COMMENTED OUT CODE TO IMPORT STORES.  TRYING TO DO IT ONE AT A TIME
# Each dataset was a little bit different, so I decided not to automate with functions

# # WHOLE FOODS 
# wf_df = pd.read_csv('datasets/wholefoods.csv', encoding='latin')
# # wf_df.to_csv('datasets/wholefoods.csv')  # fixing the encoding issue
# wf_df['longlat'] = list(zip(wf_df['long'], wf_df['lat']))
# wf_df['points'] = wf_df['longlat'].apply(make_point)


# # TRACTOR SUPPLY
# ts_df = pd.read_csv('datasets/tractorsupply.csv')
# ts_df.info()
# ts_df = add_longlat(ts_df)
# ts_df.describe()


# # STARBUCKS
# sb_df = pd.read_csv('datasets/starbucks.csv')
# sb_df = sb_df.rename(columns={'Longitude': "long", "Latitude":'lat'})
# sb_df = sb_df[sb_df['Country']=='US']
# sb_df = add_longlat(sb_df)


# # ACADEMY SPORTS
# as_df = pd.read_csv('datasets/academy.csv')
# as_df = add_longlat(as_df)
# as_df.describe()

# # DICK'S SPORTS
# ds_df = pd.read_csv('datasets/dicks.csv')
# ds_df = add_longlat(ds_df)
# ds_df.describe()


# # BASS PRO SHOPS
# bp_df = pd.read_csv('datasets/basspro.csv')
# bp_df = add_longlat(bp_df)
# bp_df.describe()

# # DOLLAR TREE STORE
# dt_df = pd.read_csv('datasets/dollartree.csv')
# dt_df = add_longlat(dt_df)
# dt_df.describe()

# # GRAINGER STORE
# grg_df = pd.read_csv('datasets/grainger.csv')
# grg_df.info()
# grg_df = add_longlat(grg_df)  # this one had a bunch of garbage and extra commas
# grg_df.describe()


# # CHICK FIL A
# cf_df = pd.read_csv('datasets/chickfila.csv', encoding='latin')
# cf_df.info()
# #cf_df.to_csv('datasets/chickfila.csv')
# #time.sleep(5)
# #cf_df = pd.read_csv('datasets/chickfila.csv', encoding='latin')
# cf_df = add_longlat(cf_df)  # format was wrong, had to resave as utf-8
# cf_df.describe()


# # CRACKER BARREL
# # This one was pickled from scraping
# with open('datasets/crackerbarrel.pkl','rb') as f:
#     cb_df = pickle.load(f)

# cb_df = pd.DataFrame(cb_df)
# cb_df.columns = ['long', 'lat']
# cb_df = add_longlat(cb_df)
# cb_df.info()


# # HARLEY DAVIDSON
# hd_df = pd.read_csv('datasets/harley.csv', encoding='latin')
# #dt_hd.to_csv('datasets/harley.csv')  # did this to fix encoding
# hd_df = add_longlat(hd_df)
# hd_df.describe()


# # H&M
# # This one was pickled from scraping
# with open('datasets/hm.pkl','rb') as f:
#     hm_df = pickle.load(f)

# hm_df = pd.DataFrame(hm_df)
# hm_df.columns = ['long', 'lat']
# hm_df = add_longlat(hm_df)
# hm_df.info()


# # Hobby Lobby
# # This one was pickled from scraping
# with open('datasets/hobbylobby.pkl','rb') as f:
#     hl_df = pickle.load(f)

# hl_df = pd.DataFrame(hl_df)
# hl_df.columns = ['long', 'lat']
# hl_df = add_longlat(hl_df)
# hl_df.info()

# # LL Bean
# ll_df = pd.read_csv('datasets/llbean.csv')
# ll_df.info()
# ll_df = add_longlat(ll_df)  
# ll_df.describe()


# # Pottery Barn
# pb_df = pd.read_csv('datasets/potterybarn.csv')
# pb_df.info()
# pb_df = add_longlat(pb_df)  
# pb_df.describe()


# # REI
# rei_df = pd.read_csv('datasets/rei.csv')
# rei_df.info()
# rei_df = add_longlat(rei_df)  
# rei_df.describe()


# # Target
# tg_df = pd.read_csv('datasets/target.csv', encoding='latin')
# tg_df = tg_df.rename(columns={'Address.Longitude': "long", "Address.Latitude":'lat'})
# tg_df.info()
# #tg_df.to_csv('datasets/target.csv')  # did this to fix encoding
# tg_df = add_longlat(tg_df)  
# tg_df.describe()


# # Trader Joe's
# tj_df = pd.read_csv('datasets/traderjoes.csv')
# tj_df.info()
# tj_df = add_longlat(tj_df)  
# tj_df.describe()

# # WalMart. 
# # This one was pickled from scraping
# with open('datasets/walmart.pkl','rb') as f:
#     wal_df = pickle.load(f)

# wal_df = pd.DataFrame(wal_df)

# wal_df
# wal_df.columns = ['long', 'lat']
# wal_df = add_longlat(wal_df)
# wal_df.info()


# COSTCO
cc_df = pd.read_csv('datasets/costco.csv', encoding='latin')
#cc_df = cc_df.drop(columns=['Unnamed: 0'])
#cc_df.to_csv('datasets/costco.csv')  # did this to fix encoding
cc_df.info()
cc_df = add_longlat(cc_df)  
cc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657 entries, 0 to 656
Data columns (total 12 columns):
Unnamed: 0    657 non-null int64
index         657 non-null int64
long          657 non-null float64
lat           657 non-null float64
name          657 non-null object
info          657 non-null object
a             657 non-null object
b             657 non-null object
c             657 non-null object
d             657 non-null object
e             657 non-null object
f             0 non-null float64
dtypes: float64(3), int64(2), object(7)
memory usage: 61.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657 entries, 0 to 656
Data columns (total 14 columns):
Unnamed: 0    657 non-null int64
index         657 non-null int64
long          657 non-null float64
lat           657 non-null float64
name          657 non-null object
info          657 non-null object
a             657 non-null object
b             657 non-null object
c             657 non-null object
d             657 non-null object
e             657 non-null object
f             0 non-null float64
longlat       657 non-null object
points        657 non-null object
dtypes: float64(3), int64(2), object(9)
memory usage: 72.0+ KB

In [18]:
def get_county(point, us_county):
    for i in range(len(us_county)):
        poly = us_county.iloc[i]['geometry']
        if poly.contains(point):
            return us_county.iloc[i]['fips']
        
def get_stores_by_county(store_df, us_county):
    found = store_df['points'].apply(get_county, args=[us_county])
    return found.value_counts()


# <<<<<<<<<<<<HIGH RESOURCE CODE ALERT>>>>>>>>>>>>
#wf_counts = get_stores_by_county(wf_df, us_county)  # WHOLE FOODS
#ts_counts = get_stores_by_county(ts_df, us_county)  # TRACTOR SUPPLY STORE
#sb_counts = get_stores_by_county(sb_df, us_county)  # STARBUCKS COFFEE 
#as_counts = get_stores_by_county(as_df, us_county)  # ACADEMY SPORTS  
#ds_counts = get_stores_by_county(ds_df, us_county)  # DICK'S SPORTS
#bp_counts = get_stores_by_county(bp_df, us_county)  # BASS PRO
#dt_counts = get_stores_by_county(dt_df, us_county)  # DOLLAR TREE
#grg_counts = get_stores_by_county(grg_df, us_county)  # GRAINGER
#cf_counts = get_stores_by_county(cf_df, us_county)  # CHICK-FIL-A
#cb_counts = get_stores_by_county(cb_df, us_county)  # CRACKER BARREL
#hd_counts = get_stores_by_county(hd_df, us_county)  # HARLEY DAVIDSON
#hm_counts = get_stores_by_county(hm_df, us_county)  # H and M
#hl_counts = get_stores_by_county(hl_df, us_county)  # HOBBY LOBBY
#ll_counts = get_stores_by_county(ll_df, us_county)  # LL BEAN
#pb_counts = get_stores_by_county(pb_df, us_county)   # POTTERY BARN
#rei_counts = get_stores_by_county(rei_df, us_county)   # REI
#tg_counts = get_stores_by_county(tg_df, us_county)   # TARGET
#tj_counts = get_stores_by_county(tj_df, us_county)   # TRADER JOE'S
#wal_counts = get_stores_by_county(wal_df, us_county)   # WALMART
#cc_counts = get_stores_by_county(cc_df, us_county)   # COSTCO

########################

In [19]:
# All of the resource intensive code is already run and has been pickled

#  Open the pickle jar
with open('datasets/store_df.pkl','rb') as f:
    df_stores = pickle.load(f)


# Implement this as .apply function later

# def is_blue(fips, df):
#     try:
#         blue = df.loc[df['fips']==fips]
#         return blue.value
#     except Exception as e:
#         print(fips, e)

# something like this
# df_stores['fips'].apply(is_blue, args=(df2_final,)) 
# df_stores['fips'].apply(is_blue, df2_final)


# For now
blue = []

for i in range(len(df_stores)):
    f = df_stores.iloc[i,6]  # hardcoded iloc to get fips code
    b = df2_final[df2_final['fips']==str(f)]['blue']
    blue.append(int(b))

df_stores['blue'] = blue
df_stores.describe()

,index,state_fips,candidatevotes,totalvotes,blue,WholeFoods,TractorSupply,Starbucks,AcademySports,DicksSports,...,CrackerBarrel,HarleyDavidson,HM,HobbyLobby,LLBean,PotteryBarn,REI,Target,TraderJoes,Walmart
count,3103.000000,3103.000000,3.103000e+03,3.103000e+03,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,...,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000
mean,3046.595875,30.526909,1.938019e+05,3.360744e+07,0.194973,0.152433,0.554625,4.310345,0.083468,0.235256,...,0.213664,0.244602,0.174347,0.300032,0.017403,0.060909,0.048340,0.585885,0.161457,1.423461
std,1743.980577,14.961734,7.521586e+05,4.870616e+07,0.396243,0.926871,0.751635,21.809785,0.529401,0.706939,...,0.571553,0.581619,0.770314,0.794418,0.155555,0.355254,0.279742,2.380399,1.379844,3.123999
min,1.000000,1.000000,6.940000e+02,2.278880e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1553.500000,19.000000,1.561000e+04,4.364364e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3030.000000,29.000000,4.144500e+04,1.055255e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,4535.500000,45.000000,1.134550e+05,3.681491e+07,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,6097.000000,56.000000,2.531163e+07,2.636051e+08,1.000000,28.000000,7.000000,666.000000,19.000000,8.000000,...,7.000000,8.000000,23.000000,14.000000,5.000000,9.000000,6.000000,69.000000,59.000000,58.000000

In [36]:
import pickle

def return_count(fips, wf_counts):
    try:
        return wf_counts[int(fips)]
    except:
        return 0

    
# These were added one at a time
# df_stores['WholeFoods'] = df_stores.fips.apply(return_count, args=[wf_counts])
# df_stores['TractorSupply'] = df_stores.fips.apply(return_count, args=[ts_counts])
# df_stores['Starbucks'] = df_stores.fips.apply(return_count, args=[sb_counts])
# df_stores['AcademySports'] = df_stores.fips.apply(return_count, args=[as_counts])
# df_stores['DicksSports'] = df_stores.fips.apply(return_count, args=[ds_counts])
# df_stores['BassPro'] = df_stores.fips.apply(return_count, args=[bp_counts])
# df_stores['DollarTree'] = df_stores.fips.apply(return_count, args=[dt_counts])
# df_stores['Grainger'] = df_stores.fips.apply(return_count, args=[grg_counts])
# df_stores['ChickFila'] = df_stores.fips.apply(return_count, args=[cf_counts])
# df_stores['CrackerBarrel'] = df_stores.fips.apply(return_count, args=[cb_counts])
# df_stores['HarleyDavidson'] = df_stores.fips.apply(return_count, args=[hd_counts])
# df_stores['HM'] = df_stores.fips.apply(return_count, args=[hm_counts])
# df_stores['HobbyLobby'] = df_stores.fips.apply(return_count, args=[hl_counts])
#df_stores['LLBean'] = df_stores.fips.apply(return_count, args=[ll_counts])
#df_stores['PotteryBarn'] = df_stores.fips.apply(return_count, args=[pb_counts])
#df_stores['REI'] = df_stores.fips.apply(return_count, args=[rei_counts])
#df_stores['Target'] = df_stores.fips.apply(return_count, args=[tg_counts])
#df_stores['TraderJoes'] = df_stores.fips.apply(return_count, args=[tj_counts])
#df_stores['Walmart'] = df_stores.fips.apply(return_count, args=[wal_counts])
#df_stores['Costco'] = df_stores.fips.apply(return_count, args=[cc_counts])


# UNCOMMENT THIS LINE TO SAVE THE DATA AGAIN
#df_stores.to_pickle("datasets/store_df.pkl")

In [38]:

# quick imported geojson file for plotting
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    us_county_fix = json.load(response)

# EACH LINE MAKES A STORE CHOROPLETH MAP FOR US
# Each also is 'tuned' to best display store density

#make_choro(df_stores1, us_county_fix, 'WholeFoods', ['lightgray', 'green'], [0, 4])
#make_choro(df_stores2, us_county_fix, 'TractorSupply', ['lightgray', 'red'], [0, 4])
#make_choro(df_stores5, us_county_fix, 'Starbucks', ['white', 'green'], [0, 50])
#make_choro(df_stores5, us_county_fix, 'AcademySports', ['white', 'blue'], [0, 2])
#make_choro(df_stores5, us_county_fix, 'DicksSports', ['white', 'orange'], [0, 2])
#make_choro(df_stores7, us_county_fix, 'BassPro', ['lightyellow', 'red'], [0, 2])
#make_choro(df_stores7, us_county_fix, 'DollarTree', ['white', 'green'], [0, 50])
#make_choro(df_stores, us_county_fix, 'Grainger', ['lightgray', 'red'], [0, 3])
#make_choro(df_stores, us_county_fix, 'ChickFila', ['lightgray', 'red'], [0, 20])
#make_choro(df_stores, us_county_fix, 'CrackerBarrel', ['lightgray', 'gold'], [0, 4])
#make_choro(df_stores, us_county_fix, 'HarleyDavidson', ['lightgray', 'orange'], [0, 2])
#make_choro(df_stores, us_county_fix, 'HM', ['white', 'red'], [0, 2])
#make_choro(df_stores, us_county_fix, 'HobbyLobby', ['white', 'orange'], [0, 3])
#make_choro(df_stores, us_county_fix, 'LLBean', ['white', 'darkgreen'], [0, 1])
#make_choro(df_stores, us_county_fix, 'PotteryBarn', ['white', 'blue'], [0, 1])
#make_choro(df_stores, us_county_fix, 'REI', ['white', 'darkgreen'], [0, 1])
#make_choro(df_stores, us_county_fix, 'Target', ['white', 'red'], [0, 10])
#make_choro(df_stores, us_county_fix, 'TraderJoes', ['white', 'red'], [0, 5])
#make_choro(df_stores, us_county_fix, 'Costco', ['white', 'blue'], [0, 1])

#make_choro(df2_final, us_county_fix, 'blue', ['red', 'blue'], [0, 1])
df_stores.describe()

,index,state_fips,candidatevotes,totalvotes,blue,WholeFoods,TractorSupply,Starbucks,AcademySports,DicksSports,...,HarleyDavidson,HM,HobbyLobby,LLBean,PotteryBarn,REI,Target,TraderJoes,Walmart,Costco
count,3103.000000,3103.000000,3.103000e+03,3.103000e+03,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,...,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000,3103.000000
mean,3046.595875,30.526909,1.938019e+05,3.360744e+07,0.194973,0.152433,0.554625,4.310345,0.083468,0.235256,...,0.244602,0.174347,0.300032,0.017403,0.060909,0.048340,0.585885,0.161457,1.423461,0.175636
std,1743.980577,14.961734,7.521586e+05,4.870616e+07,0.396243,0.926871,0.751635,21.809785,0.529401,0.706939,...,0.581619,0.770314,0.794418,0.155555,0.355254,0.279742,2.380399,1.379844,3.123999,0.889671
min,1.000000,1.000000,6.940000e+02,2.278880e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1553.500000,19.000000,1.561000e+04,4.364364e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3030.000000,29.000000,4.144500e+04,1.055255e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,4535.500000,45.000000,1.134550e+05,3.681491e+07,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,6097.000000,56.000000,2.531163e+07,2.636051e+08,1.000000,28.000000,7.000000,666.000000,19.000000,8.000000,...,8.000000,23.000000,14.000000,5.000000,9.000000,6.000000,69.000000,59.000000,58.000000,25.000000

In [39]:
# To complete my df_store and make it final, I want to do a couple experiments
# I want to simply add a population col
# I would like to make a second model using stores/person for each column

# Add population data
pop_df = pd.read_csv('datasets/county_pop.csv', encoding='latin')
#pop_df.to_csv('datasets/county_pop.csv')

# pop_df.info()
# for col in pop_df.columns:
#     print(col)
    
# Keep STATE, COUNTY, CTYNAME, POPESTIMATE2018, 
pop_df = pop_df[['STATE', 'COUNTY', 'CTYNAME', 'POPESTIMATE2018']]
pop_df.head()
fips_list = []

for i in range(len(pop_df)):
    fips = "{:02}{:03}".format(pop_df.iloc[i]['STATE'], pop_df.iloc[i]['COUNTY'])
    fips_list.append(fips)
    
pop_df['fips'] = pd.Series(fips_list)

pop_df.head()

   STATE  COUNTY         CTYNAME  POPESTIMATE2018   fips
0      1       0         Alabama          4887681  01000
1      1       1  Autauga County            55533  01001
2      1       3  Baldwin County           217855  01003
3      1       5  Barbour County            24872  01005
4      1       7     Bibb County            22367  01007

In [40]:
df_stores.head()

,index,state_fips,county,party,candidatevotes,totalvotes,fips,blue,WholeFoods,TractorSupply,...,HarleyDavidson,HM,HobbyLobby,LLBean,PotteryBarn,REI,Target,TraderJoes,Walmart,Costco
1,1,1,AUTAUGA,republican,225013.0,72148413.0,01001,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,1,BALDWIN,republican,886133.0,72148413.0,01003,0,0,3,...,0,1,2,0,1,0,2,0,6,0
5,5,1,BARBOUR,republican,66244.0,72148413.0,01005,0,0,1,...,0,0,0,0,0,0,0,0,1,0
7,7,1,BIBB,republican,88177.0,72148413.0,01007,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,9,1,BLOUNT,republican,257928.0,72148413.0,01009,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [41]:
# Add population and area columns to my final dataset
# Helper functions in the import
def get_area(fips, us_county, area_index):
    try:
        area = us_county[us_county['fips']==fips].iloc[:, area_index]
        return float(area)
    except Exception as e:
        print(fips, e)

        

us_county['fips'] = us_county['fips'].apply(lambda x: "{:05}".format(int(x)))
area_index = list(us_county.columns).index('CENSUSAREA')




df_stores['population'] = df_stores.fips.apply(get_pop, args=[pop_df])
df_stores['area'] = df_stores.fips.apply(get_area, args=[us_county, area_index])

51515

In [42]:
# ONE EXCEPTION THROWN....
# the population of bedford city county va (fips 51515) is 6181.  Let's fill it in manually
df_stores.loc[df_stores['fips']=='51515']
df_stores.loc[5422,'population'] = 6181
df_stores.loc[df_stores['fips']=='51515']  # fixed

,index,state_fips,county,party,candidatevotes,totalvotes,fips,blue,WholeFoods,TractorSupply,...,HobbyLobby,LLBean,PotteryBarn,REI,Target,TraderJoes,Walmart,Costco,population,area
5422,5475,51,BEDFORD,republican,51521.0,3943676.0,51515,0,0,0,...,0,0,0,0,0,0,0,0,6181,6.878

In [43]:
# Looks good, let's pickle it and start our ML project

# UNCOMMENT THE FILE YOU WANT TO PICKLE TO
# may want to automate this later with a variable depending on offices chosen

#df_stores.to_pickle("datasets/house_df.pkl")
df_stores.to_pickle('datasets/all_df.pkl')
#df_stores.to_pickle('datasets/major_df.pkl')

In [ ]:
# little extra to fix the df before finally sending it to pickle
# This code was run once only to fix the dataset after loading the store data

# import pickle
# import pandas as pd

# # import data

# with open('datasets/final_df.pkl', 'rb') as f:
#     df = pickle.load(f)
    
# #had an extra column and used this to fix it
# df = df.drop(df.columns[-1], axis=1)


# df.party = df.party.apply(lambda x: x.title())
# df.county = df.county.apply(lambda x: x.title())
# # df = df.drop(columns=['totalvotes'], axis=1)

# df.head()
# #df.to_pickle('datasets/final_df.pkl')
# df.to_pickle('datasets/house_df.pkl')